/* You can customize theme styles here */
.showcase img {
    max-width: 5%; /* Adjust this value as needed */
    height: auto;   /* Maintain aspect ratio */
}

/*.about-images {
    display: flex;
    gap: 20px;
}
.about-images img {
  max-width: 48%;
  height: auto;
}*/

.contact img {
  max-width: 40%;
  height: auto;
}