/* You can customize theme styles here */
.showcase img {
    max-width: 40%; /* Adjust this value as needed */
    height: 40%;   /* Maintain aspect ratio */
}
.about img {
    max-width: 40%;
    height: 40%;
}

.contact img {
  max-width: 40%;
  height: 40%;
}