/* You can customize theme styles here */
.showcase img {
    max-width: 50% !important; /* Adjust this value as needed */
    height: auto !important;   /* Maintain aspect ratio */
}
.about img {
    max-width: 40% !important;
    height: auto !important;
}
.contact img {
  max-width: 40% !important;
  height: auto !important;
}