{{ if .Site.Data.homepage.education.enable }}
<section class="education-section rad-animation-group">
    <div class="container">
        <div class="row rad-fade-down">
            <div class="col-12">
                <h2 class="education-section__title">{{ .Site.Data.homepage.education.title | safeHTML }}</h2>
                <div class="row pt-2 pt-md-4">
                    {{ range .Site.Data.homepage.education.items }}
                    <div class="col-12 col-sm-6 mb-4 mb-sm-0">
                        <div class="education-item">
                            <div class="education-item__date">{{ .year | safeHTML }}</div>
                            <div class="education-item__title">{{ .university | safeHTML }}</div>
                            <div class="education-item__degree">{{ .degree | safeHTML }}</div>
                            <div class="education-item__gpa">{{ .gpa | safeHTML }}</div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
