{{ if .Site.Data.homepage.experience.enable }}
<section id="experience" class="section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="experience-row rad-fade-down"> <!-- Unique name for the row -->
            <div class="col-12 col-sm-6 left-column"> <!-- Left column for title, description, and button -->
                <div class="experience-title-container"> <!-- Unique name for title container -->
                    <h2 class="experience-title">{{ .Site.Data.homepage.experience.title }}</h2>
                </div>
                <div class="experience-description-container"> <!-- Unique name for description container -->
                    <p class="lead experience-description">
                        {{ .Site.Data.homepage.experience.description | safeHTML }}
                    </p>
                </div>
                <div class="experience-button-container text-center"> <!-- Unique name for button container -->
                    <a href="{{ .Site.Data.homepage.experience.button2.URL | absURL }}" class="btn btn-frameless" target="_blank">
                        <i class="{{ .Site.Data.homepage.experience.button2.icon }}"></i>
                        {{ .Site.Data.homepage.experience.button2.btnText }}
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 experience-items"> <!-- Right column for experience items -->
                {{ range .Site.Data.homepage.experience.items }}
                <div class="experience-item"> <!-- Unique name for each experience item -->
                    <div class="experience__date">{{ .duration | safeHTML }}</div>
                    <div class="experience__title">{{ .title | safeHTML }}</div>
                    <div class="experience__company">{{ .company | safeHTML }}</div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
